
body{
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(
        background.jpg
    );
}
p{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: blue!important;
    

} 
h4{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: lightblue !important;
    margin-bottom: 1em;

}
h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 5em;
    color: blue !important;
    background: -webkit-linear-gradient( blue, white, dodgerblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50px;
    margin-bottom: 1em;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.result{
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    border: 5px solid black;
}
#img1{
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
    
}
button{
    
    color:white;
    background-color: gray;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2em;
    border-radius: 50px;
    margin: 20px;
    border: 2px solid black;
    

}
button:active{
    transform: scale(0.98);
}
button:focus{
    outline: none;
}
button:hover{
    color:white;
    background-color: dodgerblue;
}
